<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Core Module Component used in App Module</h4>
            <app-header></app-header>
        </div>
    </div>

    <hr>
    <h4>Router outlet components</h4>
    <router-outlet></router-outlet>
    <app-test></app-test>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Shared Module Components used in App Module</h4>
            <app-loader></app-loader>
            <app-alert-window></app-alert-window>
            <app-shared-component1></app-shared-component1>
            <app-shared-component2></app-shared-component2>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Feature Module Component used in App Module</h4>
            <app-test></app-test>
        </div>
    </div>
</div>